@using System.Security.Claims
@using esport.Models
@model IEnumerable<Auction>

@{
    ViewData["Title"] = "Auction Data";
}
<br />
<div class="row">
    <div class="col-md-8 offset-md-2">

        <table id="example" class="table display nowrap" style="width:100%">
            <thead>
                <tr class="text-center">
                    <th>Trophy</th>
                    <th>Team</th>
                    <th>Player</th>
                    <th>Sold Price</th>
                   <th>Player Country</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Trophy.Name)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Team.Name)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Player.FullName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Player.Country)
                    </td>
                   

                </tr>
                }
            </tbody>

        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function() {
            $('#example').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            } );
        } );
    </script>
}